<div>
    <span class="headerTextSmall">Join the OKTAPI team!</span>    
</div>
<div>&nbsp;</div>
<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="row">
        <div class="col col-xs-10">
            <h3 class="panel-title">Let's get to know you better...</h3>
        </div>
            <!--<input type="text" id="searchString" ng-model="searchString" placeholder="search" ng-change="handleSearch()">-->
        
        <div class="col col-xs-2 pull-right">
            <h2 class="panel-title pull-right"></h2>
        </div>
        </div>
    </div>

    <!-- panel body -->

    <div class="panel-body">
        <div class="row">
        <!-- left column filter controls -->
            <div class="col col-xs-2">
                *action controls go here*
            </div>
            <div class="col col-xs-10">
                <form class="form-horizontal">
                    <fieldset id="formFieldset" name="formFieldset">
                        <div class="form-group">
                                <label class="control-label col-sm-2" for="login">User Name:</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="login" placeholder="User Name" ng-model="currentUser.profile.login">
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="firstName">First Name:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstName" placeholder="FirstName" ng-model="currentUser.profile.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lastName">Last Name:</label>
                            <div class="col-sm-10"> 
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="currentUser.profile.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="primaryEmail">Primary Email:</label>
                            <div class="col-sm-10"> 
                            <input type="email" class="form-control" id="primaryEmail" placeholder="Primary Email" ng-model="currentUser.profile.email">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-sm-2" for="secondEmail">Secondary Email:</label>
                                <div class="col-sm-10"> 
                                    <input type="email" class="form-control" id="secondEmail" placeholder="Secondary Email" ng-model="currentUser.profile.secondEmail">
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <label class="checkbox-inline control-label col-sm-6">Click here to add two factor authentication to your account!</label>
                            <div class="col-sm-4">
                                <input type="checkbox" id="enableMFA" ng-bind="enableMFA">
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button ng-if="!disabled" type="submit" class="btn btn-default" ng-click="handleRegister()">Register!</button>
                            </div>
                        </div>
                        <div class="form-group"> 
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default" ng-click="testMFA()">test MFA!</button>
                                </div>
                            </div>
                    </fieldset>
                </form>

            </div>
        </div>
        <!-- status messages -->
        <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <div class="panel panel-success" ng-if="successMsg.length > 0">
                        <div class="panel-heading">
                            Almost there...
                        </div>
                        <div class="panel-body">
                            {{successMsg}}
                        </div>
                    </div>
                    <div class="panel panel-danger" ng-if="errorMsg.length > 0">
                        <div class="panel-heading">
                            Oops, somethign went wrong...
                        </div>
                        <div class="panel-body">
                            {{errorMsg}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-2"></div>
            </div>
    </div>

    <!-- panel footer -->

    <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                    <li><a href="#" ng-click="handleClose()">Close</a></li>

                </ul>
                </div>
            </div>
            </div>
    </div>
