<div>
    <span class="headerTextSmall">User Details</span>    
</div>

<!-- panel header -->
<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="row">
        <div class="col col-xs-6">
            <h3 class="panel-title">{{currentUser.profile.firstName}}&nbsp;{{currentUser.profile.lastName}}&nbsp;({{currentUser.profile.login}})</h3>
        </div>
        <div class="col col-xs-6 pull-right">
            <h2 class="panel-title pull-right">{{currentUser.status}}</h2></div>
        </div>
    </div>

    <!--             
        <div class="col col-xs-2">
            <div>Show MFA&nbsp;<a href="#mfaDiv" data-toggle="collapse">[+]</a></div>
        </div>
    -->

    <!-- panel body -->

    <div class="panel-body">
        <div class="row">

            <div class="col col-xs-12">
                <form class="form-horizontal">
                    <fieldset id="formFieldset" name="formFieldset">
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="firstName">First Name:</label>
                            <div class="col-xs-9">
                            <input type="text" class="form-control" id="firstName" placeholder="FirstName" ng-model="currentUser.profile.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="lastName">Last Name:</label>
                            <div class="col-xs-9"> 
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="currentUser.profile.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="primaryEmail">Primary Email:</label>
                            <div class="col-xs-9"> 
                            <input type="email" class="form-control" id="primaryEmail" placeholder="Primary Email" ng-model="currentUser.profile.email">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-xs-3" for="secondEmail">Secondary Email:</label>
                                <div class="col-xs-9"> 
                                <input type="email" class="form-control" id="secondEmail" placeholder="Secondary Email" ng-model="currentUser.profile.secondEmail">
                                </div>
                        </div>

                        <!-- form control(s) -->
                        <div class="form-group"> 
                            <div class="col-xs-12 pull-right">
                                <button ng-if="!disabled" type="submit" class="btn btn-info pull-right" ng-click="handleUpdate()">Update</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <!-- user message area -->
        <div class="row" ng-if="userMsg.type != 'none'"><div class="col col-xs-3"></div><div class="col col-xs-9"><div class="alert {{userMsg.type}}" ng-click='clearUserMsg()'>{{userMsg.text}}</div></div></div>
        
        <!-- collapse control for MFA form -->
        <div class="row">
            <div class="col col-xs-12"> 
                <div><button type="button" class="btn btn-default" ng-click="showMFA = !showMFA" data-toggle="collapse" data-target="#mfaDiv">{{showMFA ? "Hide MFA" : "Show MFA"}}</button></div>
            </div>
        </div>
        
        <!-- collapsed MFA div -->
        <div class="collapse" id="mfaDiv">
            <div class="row"><div class="col col-xs-12"></div></div>
            <div class="row" ng-repeat="factor in factorList">
                <div class="col col-xs-12">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <span class="panel-title-internal">{{factor.provider}} {{factor.factorType}}</span>
                            <span class="glyphicon glyphicon-info-sign panel-title pull-right" ng-click="setSelectedFactor(factor)" data-toggle="modal" data-target="#{{encodeModalTarget(factor, 'info')}}" data-keyboard="true" data-backdrop="true"></span>
                        </div>
                        <div class="panel-body-compact">
                            <span><button type="button" class="btn {{factor.status=='ACTIVE' ? 'btn-default' : 'btn-primary'}}" ng-click="handleFactorSelect(factor)" data-toggle="modal" data-target="#{{encodeModalTarget(factor, 'enroll')}}" data-keyboard="false" data-backdrop="false">{{factor.status=='ACTIVE' ? 'Reset' : 'Enroll'}}</button></span>
                            <span><button type="button" class="btn btn-default" type="button" ng-disabled="!factor.enrolled">Test</button></span>
                            <span>{{factor.status}}</span>
                            <span>{{factor.enrollment}}</span>
                        </div>
                    </div>
                </div>

                <!-- modal popover to display info -->
                <div class="modal fade" id="{{encodeModalTarget(factor, 'info')}}" role="dialog" tabindex="-1">
                    <div class="modal-dialog-sm">	
                        <!-- Modal content-->
                        <div class="modal-content-sm">
                            <div class="modal-header">
                                <p class="h1">Factors</p>
                            </div> <!-- end of modal-header -->
                            <div class="modal-body-sm">
                                <pre>{{factor}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end display popover -->

                <!-- modal popover for registration/enrollment form -->
                <div class="modal fade" id="{{encodeModalTarget(factor, 'enroll')}}" role="dialog" tabindex="-1">
                        <div class="modal-dialog-form">	
                            <!-- Modal content-->
                            <div class="modal-content-form">
                                <div class="modal-header">
                                        <input type="text" ng-model="factor.status">
                                        <h3 ng-if="enrollModalMode == 'reset'">Reset factor {{factor.provider}} {{factor.factorType}}</h3>
                                        <h3 ng-if="enrollModalMode == 'enroll'">Setup {{factor.provider}} {{factor.factorType}} verification</h3>    
                                </div> <!-- end of modal-header -->
                                
                                <div class="modal-body-form">
                                
                                    <!-- if we're resetting, show the message -->
                                    <div ng-if="enrollModalMode == 'reset'">
                                        <div class="alert alert-info">
                                            {{popoverMsg.text}}
                                        </div>
                                    </div>
                    
                                    <!-- Otherwise, if we're enrolling a factor -->
                                    <div ng-if="enrollModalMode == 'enroll'">
                                        <!-- Begin SMS enrollment form -->
                                        <div class="col col-xs-12" ng-if="factor.factorType == 'sms'">
                                                <span>Enter the phone number you'll use to receive codes via text message, then click Send Code to verify that it works.</span>
                                                <form class="form-horizontal">
                                                    <fieldset id="formFieldset" name="formFieldset">
                                                        <div class="form-group">
                                                                <label class="control-label col-xs-3" for="mobile:">Mobile Number:</label>
                                                            <div class="col-xs-9">
                                                                <input type="text" class="form-control" id="mobilePhone" placeholder="mobilePhone" ng-model="currentUser.profile.mobilePhone">
                                                            </div>
                                                        </div>
                            
                                                        <!-- user message area -->
                                                        
                                                            <div class="alert {{popoverMsg.type}}" ng-click='clearPopoverMsg()'>
                                                                {{JSON.stringify(popoverMsg.text, undefined, 2)}}
                                                            </div>
                                                      
                            
                                                        <!-- form control(s) -->
                                                        <div class="form-group"> 
                                                            <div class="col-xs-12 pull-right">
                                                                <button ng-if="!disabled" type="submit" class="btn btn-info pull-right" ng-click="handleRegisterSMS(factor)">Send Code</button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- End SMS enrollment form -->
                                    </div>
                                    
                                </div> <!-- end of modal-body-form -->
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div> <!-- end of modal-footer -->
                            </div>
                        </div>
                    </div>
                    <!-- end of modal enroll form -->

            </div>
        </div>

        <!-- status messages -->
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <div class="panel panel-success" ng-if="successMsg.length > 0">
                    <div class="panel-body">
                        {{successMsg}}
                    </div>
                </div>
                <div class="panel panel-danger" ng-if="errorMsg.length > 0">
                    <div class="panel-body">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>


    <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                    <li><a href="#" ng-click="handleClose()">Close</a></li>

                </ul>
                </div>
            </div>
    </div>
</div> <!-- end of panel-transparent -->


<!-- modal popover to display info -->
<div class="modal fade" id="factorsModal" role="dialog" tabindex="-1">
    <div class="modal-dialog-sm">	
        <!-- Modal content-->
        <div class="modal-content-sm">
            <div class="modal-header">
                <p class="h1">Factors</p>
            </div> <!-- end of modal-header -->
            <div class="modal-body-sm">
                <pre>{{factor}}</pre>
            </div>
        </div>
    </div>
</div>
<!-- end display popover -->


