<div>
    <span class="headerTextSmall">Users</span>    
</div>
<div>&nbsp;</div>
<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-10">
                <h3 class="panel-title">User List</h3>
            </div>
          
            <div class="col col-xs-2 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" id="searchString" ng-model="searchString" placeholder="search" ng-change="handleSearch()">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <!-- panel body -->

        <div class="panel-body">
            <div class="row">
            <!-- left column filter controls -->
                <div class="col col-xs-2">
                    *Filter controls go here*
                </div>
                <div class="col col-xs-10">

                    <!-- user table -->
                    <table class="table table-hover table-responsive table-sm">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Primary Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in userList" ng-class="user.id == selectedId ? 'active' : 'inactive'" ng-click="setSelected(user.id)">
                                <th scope="row"><a href="#" ng-click="handleUserDetails(user.id)">{{user.profile.lastName}}, {{user.profile.firstName}}</a></th>
                                <td>{{user.id}}</td>
                                <td>{{user.profile.login}}</td>
                                <td>{{user.profile.email}}</td>
                                <td>{{user.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end of user table -->
                </div>
            </div>
        </div>

        <!-- panel footer -->

        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-4">
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li ng-if="links['prev']"><a href="#" ng-click="handlePrev()">Previous</a></li>
                <li ng-if="false && links['self']"><a href="#" ng-click="handleSelf()">Self</a></li>
                <li ng-if="links['next']"><a href="#" ng-click="handleNext()">Next</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>